.intro {
  width: 50%;
  color: blue;
  font-style: italic;
}

.author {
  width: 75%;
  font-style: italic;
  font-weight: bold;
  color: green;
}

.version-type {
  font-style:italic;
  color: red;
}
