.intro {
  color: blue;
  font-weight: bold;
  font-style: italic;
}

.sab-text {
  color: pink;
  font-weight: normal;
  font-style: normal;
  
}

.blog-post {
  color: darkgreen;
  font-family: fantasy;
  border: 2px solid red;
  margin: 4px;
  padding: 4px;
  margin-bottom: 100px;
}

body {
  background-color: yellow;

}
